<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "~{layout/plantillaAnime :: head}">
        <title>Rainbow World</title>
    </head>
    <body>
        <header th:replace= "~{layout/plantillaAnime :: header}"/>
        <section th:replace= "~{layout/plantillaAnime :: tituloAnime}"></section>
        <section th:replace= "~{layout/plantillaAnime :: promocionesAnime}"></section>
        <section th:replace= "~{layout/plantillaAnime :: tituloDestacados}"></section>
        <section th:replace= "~{layout/plantillaAnime :: destacado}"></section>
        <section th:replace= "~{layout/plantillaAnime :: opciones}"></section>
        <footer th:replace= "~{layout/plantillaAnime :: footer}"/>
    </body>
</html>