<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "~{layout/plantillaHogar :: head}">
        <title>Rainbow World</title>
    </head>
    <body>
        <header th:replace= "~{layout/plantillaHogar :: header}"/>
        <section th:replace= "~{layout/plantillaHogar  :: tituloJardin}"></section>
        <section th:replace= "~{layout/plantillaHogar  :: jardin}"></section>
        <section th:replace= "~{layout/plantillaHogar :: tituloCocina}"></section>
        <section th:replace= "~{layout/plantillaHogar  :: skincare}"></section>
        <section th:replace= "~{layout/plantillaHogar  :: opciones}"></section>
        <footer th:replace= "~{layout/plantillaHogar  :: footer}"/>
    </body>
</html>