<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"> 

    <head th:replace= "~{layout/plantilla :: head}">
        <title>Rainbow World</title>
    </head>
    <body>
        <header th:replace= "~{layout/plantilla :: header}"/>
        <section th:replace="~{layout/plantilla  :: frase}"></section>
        <section th:replace="~{layout/plantilla  :: titulo}"></section>
        <section th:replace="~{layout/plantilla  :: productos}"></section>
        <footer th:replace= "~{layout/plantilla :: footer}"/>
        <<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tooltyp.com%2F8-beneficios-de-usar-imagenes-en-nuestros-sitios-web%2F&psig=AOvVaw0lZbJ1bvUvXMVkYrrPFbVy&ust=1709006692772000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIDe2ZiQyIQDFQAAAAAdAAAAABAE" alt="alt"/>
    </body>
</html>