<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"> 

    <head th:replace= "~{layout/plantilla :: head}">
        <title>Rainbow World</title>
    </head>
    <body>
        <header th:replace= "~{layout/plantilla :: header}"/>
        <section th:replace="~{layout/plantilla  :: carousel}"></section>
        <section th:replace="~{layout/plantilla  :: frase}"></section>
        <section th:replace="~{layout/plantilla  :: titulo}"></section>
        <section th:replace="~{layout/plantilla  :: productos}"></section>
        <footer th:replace= "~{layout/plantilla :: footer}"/>
     </body>
</html>